/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  // Colors
  --color-background: #f8f9fe;
  --color-title: #151827;
  --color-primary: #680262;
  --color-primary-hover: #490245;
  --color-primary-disabled: rgba(104, 2, 98, 0.3);
  --color-body: #85859b;
  --color-stroke: #cfd1dd;
  --color-white: #fff;
  --color-white-disabled: rgba(255, 255, 255, 0.3);

  // Styles
  --rounding: 16px;
  --stroke: 1px;
}
