@mixin fontset-card__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 43.71px;
  letter-spacing: 0;
  text-align: center;

  @media screen and (max-width: 835px) {
    font-size: 1.5rem;
    line-height: 32.78px;
  }
}

@mixin fontset-card__description {
  font-size: 1rem;
  font-weight: 500;
  line-height: 25.6px;
  letter-spacing: -0.15px;
  text-align: center;

  @media screen and (max-width: 835px) {
    font-size: 14px;
    line-height: 22.4px;
  }
}

@mixin fontset-plan__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;

  @media screen and (max-width: 835px) {
    font-size: 1rem;
    line-height: 21.86px;
  }
}

@mixin fontset-plan__cost {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.01em;

  @media screen and (max-width: 835px) {
    font-size: 12px;
    line-height: 19.2px;
  }
}

@mixin fontset-link {
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  text-align: center;
  letter-spacing: -0.17px;

  @media screen and (max-width: 835px) {
    font-size: 14px;
    line-height: 22.4px;
  }
}

@mixin fontset-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.01em;
  text-align: center;
}

// @media screen and (max-width: 835px) {
//   @mixin fontset-card__title {
//     font-size: 1.5rem;
//     line-height: 32.78px;
//   }

//   @mixin fontset-card__description {
//     font-size: 14px;
//     line-height: 22.4px;
//   }

//   @mixin fontset-plan__title {
//     font-size: 1rem;
//     line-height: 21.86px;
//   }

//   @mixin fontset-plan__cost {
//     font-size: 12px;
//     line-height: 19.2px;
//   }

//   @mixin fontset-link {
//     font-size: 14px;
//     line-height: 22.4px;
//   }
// }
