/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  max-width: 460px;
  border-radius: var(--rounding);
  background-color: var(--color-white);
  overflow: hidden;

  & &__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 43.71px;
    letter-spacing: 0;
    text-align: center;
    margin: 29.6px 0 16.6px;
  }

  & &__description {
    font-size: 1rem;
    font-weight: 500;
    line-height: 25.6px;
    letter-spacing: -0.15px;
    text-align: center;
    margin: 0 3.5rem 0;
    color: var(--color-body);
  }
}

.plan {
  background-color: var(--color-background);
  border-radius: var(--rounding);
  display: flex;
  align-items: center;
  padding: 1rem 2rem 17px;
  margin: 40px 1rem 1rem 1rem;

  & &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    color: var(--color-title);
    transform: translateY(-1px);
  }

  & &__cost {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: var(--color-body);
    transform: translateY(1px);
  }

  & &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.button {
  display: block;
  margin: 0 auto;
}

.stroke {
  width: var(--stroke);
  height: 50px;
  background-color: var(--color-stroke);
  margin: 0 31.8px 0 31.4px;
}

.link {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  text-align: center;
  letter-spacing: -0.17px;
  transition: transform .2s;

  &:hover{
    transform: translateY(-1px);
  }

  &--plan {
    transform: translateY(2px);
    color: var(--color-primary);
  }

  &--cancel {
    color: var(--color-title);
    margin: 20px auto 2rem;
    transform: translateY(1px);
  }
}

.button {
  position: relative;
  cursor: pointer;
  display: block;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  width: 93%;
  margin: 31.5px 1rem 1rem;
  padding: 15px 0 15px;
  border-radius: var(--rounding);
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.01em;
  text-align: center;
  transition: background-color 0.2s, color 0.2s;

  &:hover {
    background-color: var(--color-primary-hover);
  }

  &:active {
    background-color: var(--color-primary-disabled);
  }

  &--loading {
    cursor:default;
    background-color: var(--color-primary-disabled);
    color: rgba($color: #fff, $alpha: .3);

    &:hover {
        background-color: var(--color-primary-disabled);
    }
    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border: 4px solid transparent;
      border-top-color: #ffffff;
      border-radius: 50%;
      animation: button-loading-spinner 1s ease infinite;
    }
  }
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
