/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
@import "_breakpoints.scss";
@import "_typography.scss";
@import "_button.scss";

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  margin: 1rem;
  max-width: 460px;
  border-radius: var(--rounding);
  background-color: var(--color-white);
  overflow: hidden;

  @media screen and (max-width: $tablet-breakpoint) {
    max-width: 342px;
  }

  & &__img {
    height: 232px;
    background-image: url("../../../../public/images/AdobeStock_331830515\ 1.png");

    @media screen and (max-width: $tablet-breakpoint) {
      height: 188px;
      background-position: center;
    }
  }

  & &__title {
    @include fontset-card__title;
    margin: 32px 0 16.6px;

    @media screen and (max-width: $tablet-breakpoint) {
      margin: 41px 0 15px;
    }
  }

  & &__description {
    @include fontset-card__description;
    margin: 0 56px 0;
    color: var(--color-body);

    @media screen and (max-width: $tablet-breakpoint) {
      margin: 0 1rem 0;
    }
  }
}

.plan {
  background-color: var(--color-background);
  border-radius: var(--rounding);
  display: flex;
  align-items: center;
  padding: 16px 32px 17px;
  margin: 2.5rem 1rem 1rem 1rem;

  @media screen and (max-width: $tablet-breakpoint) {
    padding: 15px 24px 17px 20px;
    margin: 2rem 1rem 1rem 1rem;
  }

  & &__title {
    @include fontset-plan__title;
    color: var(--color-title);
    transform: translateY(-1px);

    @media screen and (max-width: $tablet-breakpoint) {
      transform: translateY(1px);
    }
  }

  & &__cost {
    @include fontset-plan__cost;
    color: var(--color-body);
    transform: translateY(1px);

    @media screen and (max-width: $tablet-breakpoint) {
      transform: translateY(2px);
    }
  }

  & &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.stroke {
  width: var(--stroke);
  height: 50px;
  background-color: var(--color-stroke);
  margin: 0 31.8px 0 31.4px;

  @media screen and (max-width: $tablet-breakpoint) {
    height: 43px;
    margin: 0 23px 0 20px;
  }
}

.link {
  @include fontset-link;
  display: block;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-1px);
  }

  &--plan {
    transform: translateY(2px);
    color: var(--color-primary);
  }

  &--cancel {
    color: var(--color-title);
    margin: 1.25rem auto 2rem;
    transform: translateY(1px);

    @media screen and (max-width: $tablet-breakpoint) {
      margin: 1.25rem auto 1.5rem;
    }
  }
}
