/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  max-width: 460px;
  border-radius: var(--rounding);
  background-color: var(--color-white);
  overflow: hidden;

  & &__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0;
    text-align: center;
    margin: 2rem 0 17px;
  }

  & &__description {
    font-size: 1rem;
    font-weight: 500;
    line-height: 25.6px;
    letter-spacing: -0.15px;
    text-align: center;
    margin: 0 3.5rem 0;
    color: var(--color-body);
  }
}

.plan {
  background-color: var(--color-background);
  border-radius: var(--rounding);
  display: flex;
  align-items: center;
  //   justify-content: space-between;
  padding: 1rem 2rem;
  margin: 40px 1rem 1rem 1rem;

  & &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24.59px;
    color: var(--color-title);
  }

  & &__cost {
    font-size: 14px;
    font-weight: 500;
    line-height: 23.4px;
    letter-spacing: -0.3px;
    color: var(--color-body);
  }

  & &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.button {
  display: block;
  margin: 0 auto;
}

.stroke {
  width: var(--stroke);
  height: 50px;
  background-color: var(--color-stroke);
  margin: 0 2rem;
}

.link {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  text-align: center;
  letter-spacing: -0.17px;

  &--plan {
    transform: translateY(2px);
    color: var(--color-primary);
  }

  &--cancel {
    color: var(--color-title);
    margin: 20px auto 2rem;
  }
}

.button {
  // box-sizing: border-box;
  display: block;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  width: 93%;
  margin: 2rem 1rem 1rem;
  padding: 1rem 0;
  border-radius: var(--rounding);

  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  letter-spacing: -0.01em;
  text-align: center;
  transition: background-color .2s;

  &:hover {
    background-color: var(--color-primary-hover);
  }
}
